* {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.name{
  font-size:3em;
}

.profile-picture{
  max-width: 100%;
}

ul{
  padding-left: 0;
}

li{
    padding-bottom:1em;
    font-weight: bold;
}

li a{
  text-decoration: none;
  color:black;
}

li a:hover{
  color:red;
}

.calculator{
  padding-bottom:3em;
}

footer h3{
  padding-bottom: 1em;
}

.name-footer{

}

.contact-container h3{
  padding-bottom:2em;
}

#phone {
  padding-top:2em;

}

#footer-name{
  float:left;
  text-decoration: none;
  color:black;
  font-weight: bold;
  padding-bottom:2em;
  padding-top:3em;
  padding-left:1em;
}

#back-to-top{
  float:right;
  text-decoration:none;
  font-weight: bold;
  color:black;
  padding-bottom:2em;
  padding-top:3em;
  padding-right:1em;
}







/* Media Queries */

@media (min-width:769px){


.name{
  font-size: 2em;
}
li{
  display:inline;
  padding-right:1.5em;
  padding-left:.75em;
  margin-left: .7em;
}

.profile-picture{
  display:inline;
  float:right;
  padding-top:4em;
  padding-left: 2em;
  width:40%;
  height:auto;
}

#aboutme{
  padding-top:4em;
  text-align:left;
  padding-left:4px;
}

#portfolio{
  padding-top:12em;
  padding-bottom:3em;
}

}
